* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: lavender;
}

.banner {
  width: 100%;
  height: 100vh;
  background-image: url(../3d/images/bg.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.banner {
  width: 100%;
  height: 100%;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.banner .slider {
  position: absolute;
  width: 175px;
  height: 200px;
  top: 8%;
  left: calc(50% - 100px);
  transform-style: preserve-3d;
  transform: perspective(1000px);
  animation: rotate 20s linear infinite;
  z-index: 2;
}

@keyframes rotate {
  from {
    transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
  }
  to {
    transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
  }
}

.banner .slider .item {
  position: absolute;
  inset: 0 0 0 0;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(400px);
}

.banner .slider .item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.banner .content {
  position: absolute;
  bottom: 0;
  left: 50%;
  padding: 5rem;
  transform: translateX(-50%);
  width: min(1400px, 100vw);
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.banner .content h1 {
  font-family: "HORYZEN";
  font-size: 8rem;
  line-height: 1rem;
  color: red;
  font-weight: 900;
  position: relative;
}

.banner .content h1::after {
  position: absolute;
  inset: 0 0 0 0;
  content: attr(data-content);
  -webkit-text-stroke: 3px #000000;
  color: transparent;
  z-index: 2;
}

.banner .content .author {
  font-family: "HORYZEN";
  text-align: right;
  max-width: 200px;
  font-size: 1.6rem;
  color: red;
}

.banner .content h2 {
  font-size: 3rem;
}

.banner .content .model {
  background-image: url(../3d/images/Koyomi-Senjougahara.png);
  width: 100%;
  height: 85vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top center;
  z-index: 1;
}
