* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

:root {
  --white: #fff;
  --gradient: linear-gradient(45deg, #1a2f3f, #7094ce);
  --gradient: linear-gradient(45deg, #1b5e20, #4caf50);
  --gradient: linear-gradient(45deg, #c62828, #ff5252);
  --gradient: linear-gradient(45deg, #00796b, #4db6ac);
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container .card {
  position: relative;
  width: 600px;
  height: 350px;
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: var(--gradient);
  border-radius: 5px;
  transition: 0.5s;
}

.container .card img {
  position: absolute;
  bottom: 0;
  height: 375px;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
}

.container .card:hover img {
  left: 72%;
  height: 450px;
}

.container .card .content {
  position: relative;
  width: 50%;
  left: 20%;
  opacity: 0;
  visibility: hidden;
  padding: 20px 20px 20px 40px;
  transition: 0.5s;
}

.container .card:hover .content {
  left: 0;
  opacity: 1;
  visibility: visible;
}

.container .card .content h2 {
  color: var(--white);
  text-transform: uppercase;
  font-size: 2.2em;
  line-height: 1em;
}

.container .card .content p {
  font-size: 14px;
  color: var(--white);
}

.container .card .content a {
  position: relative;
  color: #111;
  background: var(--white);
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  margin-top: 10px;
  font-weight: 700;
  border: 2px solid var(--white);
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}

.container .card .content a:hover {
  border: 2px solid var(--white);
  background: transparent;
}

@media (max-width: 991px) {
  .container .card {
    width: auto;
    max-width: 600px;
    align-items: flex-start;
  }

  .container .card:hover {
    height: 600px;
  }

  .container .card:hover img {
    left: 50%;
    height: 350px;
  }

  .container .card .content {
    width: 100%;
    left: 0;
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .container {
    flex-direction: column;
  }

  .container .card {
    margin: 40px 20px;
  }
}

@media (max-width: 420px) {
  .container .card .content {
    padding: 30px;
  }

  .container .card:hover img {
    height: 300px;
  }
}
